@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-baby[style*="opacity: 1"] {
  @apply text-yellow-300 dark:text-yellow-500;
}

.scroll-file[style*="opacity: 1"] {
  @apply text-blue-300 dark:text-blue-500;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}